<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dao.base"
          class="org.assembly.nornas.persistence.BaseDao"
          abstract="true">
          <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="dao.author"
          class="org.assembly.nornas.persistence.author.AuthorDAO"
          parent="dao.base">
    </bean>
    
    <bean id="dao.blog"
          class="org.assembly.nornas.persistence.blog.BlogDAO"
          parent="dao.base">
    </bean>

    <bean id="dao.post"
          class="org.assembly.nornas.persistence.post.PostDAO"
          parent="dao.base">
    </bean>
    
     <bean id="dao.style"
          class="org.assembly.nornas.persistence.style.StyleDAO"
          parent="dao.base">
    </bean>
    
     <bean id="dao.tag"
          class="org.assembly.nornas.persistence.tag.TagDAO"
          parent="dao.base">
    </bean>

    <bean id="dao.user"
          class="org.assembly.nornas.persistence.user.UserDAO"
          parent="dao.base">
    </bean>

</beans>
