<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- Datasource utilizado en desarrollo.

	<bean id="dataSourceMySqlDev" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource" destroy-method="close">
            <property name="driverClassName" value="com.mysql.jdbc.Driver" />
            <property name="url" value="jdbc:mysql://localhost:3306/theFamily" />
            <property name="username" value="root" />
            <property name="password" value="titocosa" />
	</bean>
     -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
            <property name="driverClassName" value="org.postgresql.Driver" />
            <property name="url" value="jdbc:postgresql://localhost:5432/thefamily" />
            <property name="username" value="postgres" />
            <property name="password" value="titocosa" />
            <property name="initialSize" value="5" />
            <property name="maxActive" value="10" />
            <property name="defaultAutoCommit" value="false" />
            <property name="poolPreparedStatements" value="true" />
	</bean>


</beans>