<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:sca="http://www.springframework.org/schema/sca"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/sca xsd/spring-sca.xsd">


    <!-- User -->

    <bean id="service.user" class="org.assembly.nornas.serviceImpl.user.UserServiceImpl" parent="service.base">
        <property name="userDAO">
            <ref bean="dao.user"/>
        </property>
        <property name="synchronizerUser">
            <ref bean="synchronizer.user"/>
        </property>
    </bean>

	<sca:service  name="component.userService" 
	             type="org.assembly.nornas.service.user.UserService" target="service.user"/>
	          
	<!--  /User -->

  

</beans>